h1,
h2 {
  text-align: center;
}

img {
  position: relative;
}

body {
  font-family: "Abel", sans-serif;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 4px;
}

.daysofweek {
  text-align: center;
  font-size: 13.5px;
}

.top {
  height: 10px;
}

.mainDisplay .raining {
  height: 35px;
  width: 35px;
}

p.card-title {
  margin: 0 0 12px;
}
.city {
  font-weight: 600;
}
.mainDisplay {
  position: relative;
  height: 150x;
  width: 150x;
  text-align: center;
  bottom: 350px;
  background: #fff;
  margin-top: -20px;
  padding-bottom: -20px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 6px;
  border: 6px gray;
  font-size: 26px;
}

.daysofweek .sunshine,
.daysofweek .cloudy,
.daysofweek .raining,
.daysofweek .thunder {
  height: 65%;
  width: 65%;
  position: relative;
  top: 6px;
}

.sundayRadius,
.mondayRadius,
.tuesdayRadius,
.wednesdayRadius,
.thursdayRadius,
.fridayRadius,
.saturdayRadius {
  border-radius: 100%;
  height: 41px;
  width: 41px;
}
.sundayRadius {
  border: 4px solid rgb(248, 159, 137);
}
.mondayRadius {
  border: 4px solid rgb(245, 191, 91);
}

.tuesdayRadius {
  border: 4px solid rgb(247, 244, 95);
}
.wednesdayRadius {
  border: 4px solid rgb(114, 236, 131);
}

.thursdayRadius {
  border: 4px solid rgb(132, 225, 248);
}
.fridayRadius {
  border: 4px solid rgb(107, 151, 247);
}
.saturdayRadius {
  border: 4px solid rgba(236, 153, 243, 0.904);
}

.mainTemperature {
  padding-left: 15px;
  text-align: center;
  font-weight: 800;
  font-size: 52px;
  bottom: 5px;
  left: -10px;
  position: relative;
}
.searchBar {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding-left: 90px;
  position: relative;
  bottom: 350px;
  display: inline-block;
}

.searchButton {
  border-radius: 4px;
  border: 2px rgb(153, 153, 153);
  color: grey;
}
#current-location-button {
  border-radius: 4px;
  border: 2px rgb(153, 153, 153);
  color: grey;
  margin: 0 auto;
  display: block;
  position: relative;
  left: 5px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  position: relative;
  top: 10px;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.small {
  font-size: 15px;
  display: inline;
  position: relative;
  left: 225px;
  bottom: 160px;
  font-weight: 800;
}

#description {
  font-style: italic;
}

#footer {
  display: inline;
  position: relative;
  left: 5px;
  bottom: -30px;
}
