h1,
h2 {
  text-align: center;
}

img {
  position: relative;
}

body {
  font-family: "Abel", sans-serif;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 4px;
}

.daysofweek {
  text-align: center;
  font-size: 13.5px;
  position: relative;
  left: 20px;
}

.top {
  height: 10px;
  position: relative;
  top: -25px;
}

.mainDisplay .raining {
  height: 35px;
  width: 35px;
}

p.card-title {
  margin: 0 0 12px;
}
.city {
  font-weight: 600;
  font-size: 32px;
}
.mainDisplay {
  position: relative;
  height: 150x;
  width: 150x;
  text-align: center;
  bottom: 350px;
  background: #fff;
  margin-top: -20px;
  padding-bottom: -20px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 6px;
  border: 6px gray;
}

#temperature {
  font-size: 50px;
  position: relative;
  left: 15px;
}

.units {
  text-align: center;
  position: relative;
  font-size: 13px;
  top: -20px;
  left: 5px;
}

.daysofweek .sunshine,
.daysofweek .cloudy,
.daysofweek .raining,
.daysofweek .thunder {
  height: 65%;
  width: 65%;
  position: relative;
  top: 6px;
}

.day1Radius,
.day2Radius,
.day3Radius,
.day4Radius,
.day5Radius,
.day6Radius,
.day7Radius {
  border-radius: 100%;
  height: 41px;
  width: 41px;
}
.day1Radius {
  border: 4px solid rgb(248, 159, 137);
}
.day2Radius {
  border: 4px solid rgb(245, 191, 91);
}

.day3Radius {
  border: 4px solid rgb(247, 244, 95);
}
.day4Radius {
  border: 4px solid rgb(114, 236, 131);
}

.day5Radius {
  border: 4px solid rgb(132, 225, 248);
}
.day6Radius {
  border: 4px solid rgb(107, 151, 247);
}
.day7Radius {
  border: 4px solid rgba(236, 153, 243, 0.904);
}

.mainTemperature {
  padding-left: 15px;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
  bottom: -10px;
  left: -10px;
  position: relative;
  padding-bottom: 10px;
  color: #616060;
}
#searchBar {
  margin: 0 auto;
  margin-bottom: 50px;
  left: 90px;
  position: relative;
  bottom: 350px;
  display: block;
}

#searchButton,
#current-location-button {
  margin: 0 auto;
  border-radius: 4px;
  border: 2px rgb(153, 153, 153);
  color: grey;
  position: relative;
  top: 5px;
}
#current-location-button {
  position: relative;
  right: -9px;
}
#searchButton {
  position: relative;
  left: 5px;
}

#mainDisplayIcon {
  top: 10px;
  width: 40%;
  height: 40%;
}

.textConditions .li {
  position: relative;
  bottom: -30px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  position: relative;
  top: 10px;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.small {
  font-size: 12px;
  display: inline;
  position: relative;
  left: 30px;
  bottom: 40px;
  font-weight: 800;
}

#description {
  font-style: italic;
}

#footer {
  display: inline;
  position: relative;
  left: 5px;
  bottom: -30px;
}

#textConditions {
  position: relative;
  bottom: 20px;
}
